<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Android 13+ 에서 알림을 띄우려면 런타임 권한이 필요하다.
         플러그인 매니페스트에도 있지만, 이 앱이 무엇을 요구하는지는
         이 파일만 보고도 알 수 있어야 한다. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 재부팅하면 예약된 알람이 전부 사라진다. 이 권한이 있어야 플러그인이
         부팅을 감지해 다시 예약한다. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- SCHEDULE_EXACT_ALARM 은 일부러 넣지 않았다. Android 14+ 에서 정시
         알람은 알람시계·캘린더 앱에만 허용되고 Play 심사 승인이 필요하다.
         물주기 알림은 대상이 아니므로 inexactAllowWhileIdle 로 예약한다
         (LocalNotificationBackend 참고). -->

    <application
        android:label="ipkong"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 예약 알림을 실제로 띄우는 리시버. 없으면 예약은 되는데 아무것도
             뜨지 않는다. -->
        <receiver android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <!-- 재부팅·앱 업데이트 후 예약을 복구한다. -->
        <receiver android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <!-- 알림 액션 버튼("축축했어요" 등)을 앱을 열지 않고 처리한다.
             이게 없으면 버튼을 눌러도 백그라운드 콜백이 불리지 않는다. -->
        <receiver android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
